<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrval</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-grey flex justify-center items-center">
    <div class="border: 1px solid">
        <h1 class="text-2x font-bold text-blue mb-4">
              Employee Details
        </h1>

    </div>
    <div>
        <div class="space-y-3 text-left" > 
            <p>
                employee name : {{emp_data.name}}
            </p>
            <p>
                employee name : {{emp_data.role}}
            </p>
            <p>
                employee name : {{emp_data.place}}
            </p>
            <p>
                employee name : {{emp_data.salary}}
            </p>
        </div>
    </div>
</body>

</html>