<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="text-align: center;">Employee Data</h1>
    <table  style="width: 60%; margin: 30px auto; font-family: Arial, sans-serif; font-size: 16px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        <th>Employee Name</th>
        <th>Role</th>
        <th>Place</th>
        <th>Salary</th>
    
    {% for emp in data %}
    <tr style="background-color: #4CAF50; color: white; text-align: center;">
        <td style="padding: 10px; border: 1px solid #ddd;">{{emp.name}}</td>
        <td style="padding: 10px; border: 1px solid #ddd;">{{emp.role}}</td>
        <td style="padding: 10px; border: 1px solid #ddd;">{{emp.place}}</td>
        <td style="padding: 10px; border: 1px solid #ddd;">{{emp.salary}}</td>
    </tr>
    {% endfor %}
    </table>
</body>

</html>