<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <th>Employee Name</th>
        <th>Role</th>
        <th>Place</th>
        <th>Salary</th>
    </table>
    {% for emp in data %}
    <tr>
        <td>{{emp.name}}</td>
        <td>{{emp.role}}</td>
        <td>{{emp.place}}</td>
        <td>{{emp.salary}}</td>
    </tr>
    {% end %}
</body>

</html>